<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Notes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Required meta tags -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <!-- Bootstrap CSS -->
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<style>
		body {
			background-image: url("http://localhost/img/IMG_8935.jpg");
			background-color: transparent;
			background-position: center 7%;
			background-attachment: fixed;
		    background-repeat: no-repeat;
		}
		.info {
		    padding-top: 1px;
		    padding-left: 10px;
		    padding-right: 5px;
		}
	</style>
</head>
	<body> 	
	<!--  Container -->	
	<div class="container">
	
		<!--  Header Row -->
		<div class="row">
			<div class="col-md-3" style="float:left;padding-top:20px;">
						
			</div>	
			<div class="col-md-6" style="text-align:center;float:center;">
				<h1 style="color: red; font-size: 60px;  font-weight: bold;">Capitola</h1>
				<br>
			</div>
			<div class="col-md-3" style="float: right;">
			</div>	
		</div>
		
		<!-- Main Content Row -->
		<div class="row" >
		
			<!-- Left Column -->
			<div class="col-md-4" style="float:left;">
				
				<!-- News -->
				<div class="info" style="background-color:white;">
					<H3>News</H3>
					<UL>
						<li><a href="http://localhost/test.html">Capitola voted 'Best Beach Town'</a></li>
						<li><a href="http://localhost/test.html">Soquel High Scool Graduation</a></li>
						<li><a href="http://localhost/test.html">Lions club Crab-fest</a></li>
						<li><a href="http://localhost/test.html">Parking fees raised by $1</a></li>
						<li><a href="http://localhost/test.html">Homeless shelter to provide food for needy</a></li>
					</UL>
					<br>
				</div>
				<br>
				<br>
				
				<!--  Ad -->
				<div align=center>
					<img alt="New Leaf" src="http://localhost/img/Ad%20-%20New%20Leaf.png" width=100>
				</div>
				<br>
				<br>

				<!-- Weather -->
				<div align=center>
					<img alt="New Leaf" src="http://localhost/img/Capitola%20Weather.png" width=150>
				</div>			
				
			</div>
			
			<!-- Carousel -->
			<div class="col-md-4" style="float: center;">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">				
					<!-- Indicators -->
					<ol  class="carousel-indicators">
			  		  <li th:each="image,rowStat : ${activeImages}"  th:attr="data-slide-to=${rowStat.index}"  data-target="#myCarousel"></li>
					</ol>
					  
					<!-- Wrapper for slides -->
					<div class="carousel-inner">
					    <div class="item" th:each="image,row : ${activeImages}" th:classappend="${row.index==0?'active':'' }"  align=center>
							<img class="d-block img-fluid" th:src="${image.imageUrl}" width="380"/>
							<div class="carousel-caption">
			          			<h4 th:text=${image.imageName}>JavaSampleApproach</h4>
			          		    <p th:text=${image.description}>Cras justo odio</p>
			        		</div>
					    </div>
					</div>
					
					<!-- Left and right controls -->					
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right"></span>
					    <span class="sr-only">Next</span>
					</a>
				</div>
				<br>
				<img alt="New Leaf" src="http://localhost/img/AD%20-%20Wholly%20Guacamole.png" width=360 >
			</div>
			
			<!--  Right Column -->
			<div class="col-md-4" style="float: right; ">
				<div class="info" style="background-color:white;">
				
					<!-- Events -->
					<H3>Events</H3>
					<ul>
						<li><a href="http://localhost/test.html">Art and Wine Festival - June 12-13</a></li>
						<li><a href="http://localhost/test.html">Hot Rods at the Beach - June 29-30</a></li>
						<li><a href="http://localhost/test.html">Music on the Beach- starts May 12</a></li>
						<li><a href="http://localhost/test.html">Fireworks on the Wharf - July 4th</a></li>
						<li><a href="http://localhost/test.html">Girls on the Run - July 15</a></li>
						<br>
						<br>
					</ul>
				</div>
			
				<br>
				<!--  Ad -->
				<div align=center>
					<img alt="Second Harvest" src="http://localhost/img/AD%20-%20Second%20Harvest.png" width=200>
				</div>
			</div>
			
		</div>
		<br>
		<br>
		<!-- Directory -->
			<div class="row">
				<div class="col-md-2" style="float: left;"></div>
				<div class="col-md-8" style="float: left; background-color:white;">
					<H1>Directory</H1>
				</div>
				<div class="col-md-2" style="float: right; "></div>
			</div>
			<div class="row">
		
				<div class="col-md-2" style="float: left;"></div>
				<div class="col-md-2" style="float: left; background-color:white;">
					<ul>
						<li><a href="http://localhost/test.html">Doctors</a></li>
						<li><a href="http://localhost/test.html">Hospitals</a></li>
						<li><a href="http://localhost/test.html">Emergency Care</a></li>
						<li><a href="http://localhost/test.html">Services</a></li>
						<li><a href="http://localhost/test.html">Plumbing</a></li>
						<li><a href="http://localhost/test.html">Electrical</a></li>
						<li><a href="http://localhost/test.html">Carpentry</a></li>
						<li><a href="http://localhost/test.html">Contractors</a></li>
					</ul>
				
				</div>
				<div class="col-md-2" style="float: center; background-color:white;">
					<ul>
						<li><a href="http://localhost/test.html">Automotive</a></li>
						<li><a href="http://localhost/test.html">Banks</a></li>
						<li><a href="http://localhost/test.html">Clothing</a></li>
						<li><a href="http://localhost/test.html">Hotels</a></li>
						<li><a href="http://localhost/test.html">Grocery</a></li>
						<li><a href="http://localhost/test.html">Real Estate</a></li>
						<li><a href="http://localhost/test.html">Restaurants</a></li>
						<li><a href="http://localhost/test.html">Childcare</a></li>
					</ul>
				</div>
				<div class="col-md-2" style="float: left; background-color:white;">
					<ul>
						<li><a href="http://localhost/test.html">Government</a></li>
						<li><a href="http://localhost/test.html">City Hall</a></li>
						<li><a href="http://localhost/test.html">Chamber of Commerce</a></li>
						<li><a href="http://localhost/test.html">Police</a></li>
						<li><a href="http://localhost/test.html">Fire</a></li>
						<li><a href="http://localhost/test.html">Schools</a></li>
						<li><a href="http://localhost/test.html">Library</a></li>
					</ul>
				</div>
				<div class="col-md-2" style="float: left; background-color:white;">
					<ul>
						&nbsp;<br>
						&nbsp;<br>
						&nbsp;<br>
						&nbsp;<br>
						&nbsp;<br>
						&nbsp;<br>
						&nbsp;<br>
						&nbsp;<br>
					</ul>
				
				</div>
				
				<div class="col-md-2" style="float: left;">
				</div>
				
			</div>
	</div>
					    	    
	    
		<!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <!-- 
	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	     -->
	</body>


</html>
