<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Notes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Required meta tags -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <!-- Bootstrap CSS -->
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style></style>

</head>

	<body> 	    
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		
		<!-- Indicators -->
		<ol  class="carousel-indicators">
  		  <li th:each="image,rowStat : ${activeImages}"  th:attr="data-slide-to=${rowStat.index}"  data-target="#myCarousel"></li>
		</ol>
		  
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		  
		    <div class="item active"  align=center>
		      <img th:src="@{/img/capitola/IMG_8937.jpg}" alt="Sotola"  style="width:75%;">
		    </div>
		
		    <div class="item" align=center>
		      <img th:src="@{/img/capitola/IMG_8936.jpg}" alt="Margaritaville"  style="width:75%;">
		    </div>
		
		    <div class="item" align=center>
		      <img th:src="@{/img/capitola/IMG_8933.jpg}" alt="Capitola Bay"  style="width:75%;">
		    </div>
		    
		    <div class="item" align=center>
		      <img th:src="@{/img/capitola/IMG_8938.jpg}" alt="Lagoon"  style="width:75%;">
		    </div>
		    
		    <div class="item" align=center>
		      <img th:src="@{/img/capitola/IMG_8939.jpg}" alt="Capitola Wharf"  style="width:75%;">
		    </div>
		    
		    <div class="item" align=center>
		      <img th:src="@{/img/capitola/IMG_8943.jpg}" alt="Creek"  style="width:75%;">
		    </div>
		    
		    <div class="item" align=center>
		      <img th:src="@{/img/capitola/IMG_8944.jpg}" alt="Armida Winery"  style="width:75%;">
		    </div>
		    
		    <div class="item" align=center>
		      <img th:src="@{/img/capitola/IMG_8946.jpg}" alt="Mercantile"  style="width:75%;">
		    </div>
		    
		    <div class="item" align=center>
		      <img th:src="@{/img/capitola/IMG_8947.jpg}" alt="Dolphin Statue"  style="width:75%;">
		    </div>
		    
		    <div class="item" align=center>
		      <img th:src="@{/img/capitola/IMG_8949.jpg}" alt="Mr. Toots"  style="width:75%;">
		    </div>
		    
		    <div class="item" align=center>
		      <img th:src="@{/img/capitola/IMG_8950.jpg}" alt="Paradise Beach"  style="width:75%;">
		    </div>
		    
		    <div class="item" align=center>
		      <img th:src="@{/img/capitola/IMG_8952.jpg}" alt="Pizza My Heart"  style="width:75%;">
		    </div>
		    
		    <div class="item" align=center>
		      <img th:src="@{/img/capitola/IMG_8954.jpg}" alt="Zelda's"  style="width:75%;">
		    </div>
		    
		    <div class="item" align=center>
		      <img th:src="@{/img/capitola/IMG_8955.jpg}" alt="Sister Houses"  style="width:75%;">
		    </div>
		    
		    <div class="item" align=center>
		      <img th:src="@{/img/capitola/IMG_8958.jpg}" alt="Zelda's Deck"  style="width:75%;">
		    </div>
		    
		    <div class="item" align=center>
		      <img th:src="@{/img/capitola/IMG_8963.jpg}" alt="Beach"  style="width:75%;">
		    </div>
		    
		    <div class="item" align=center>
		      <img th:src="@{/img/capitola/IMG_8966.jpg}" alt="Shops Sign"  style="width:75%;">
		    </div>
		    
		  </div>
		
		  <!-- Left and right controls -->
		  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>	    
	    
	    
   		 <table class="table table-striped">
			<!-- Image Table -->
			<tr>
				<!-- 
				<th scope="col">Id</th> 
				<th scope="col">IsActive</th>
				 -->
				<th scope="col">Name</th>
				<th scope="col">Description</th>
				<th scope="col">File</th>
				<th scope="col">&nbsp;</th>
			</tr>
			<!-- </thead> -->
		      <tr th:each="image : ${activeImages}">
		        <!-- 
		        <td th:text="${image.id}">blah</td> 
		        <td th:text="${image.isActive}">blah</td> 
		         -->
		        <td th:text="${image.imageName}">blah</td> 
		        <td width="50%" th:text="${image.description}">yes</td>
		        <!-- <td th:text="${image.imageUrl}">2.41</td>  -->
		        <td><a href="/" th:href="@{${image.getImageUrl()}}"><img width=80 th:src="${image.imageUrl}"></a></td>
		        <td><a href="/" th:href="@{/editImage(imageId=${image.id})}">Edit</a></td>
		      </tr>
	    </table>
	    
	    
	    
		<!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <!-- 
	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	     -->
	</body>


</html>
